* {
  box-sizing: border-box;
}

body {
  --background-color:white;
  --text-color:black;
  --elements-color: white;
  margin: 0;
  font-family: sans-serif;
  background-color:var(--background-color);
  color:var(--text-color);
}
body.dark{
  --background-color:hsl(207,26%,17%);
  --text-color:white;
  --elements-color: hsl(209,23%,22%);
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 24px;
  margin-inline:auto;
  height: 40px;
}
.header-container {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 24px;
  background-color: var(--elements-color);
}
.main{
    padding: 24px;
    margin: 16px;
    
}
.title {
  font-weight: 800;
}
.contries-container {
  max-width: 1200px;
  margin-top: 16px;
  display: flex;
  gap:64px;
 margin-inline: auto;
 flex-wrap: wrap;
  justify-content: space-between;
 
}

a{
    text-decoration-line:none;
    color: inherit;
}
.country-card {
    display: inline-block;
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 24px;
  transition: all 0.2s ease-in-out;
  background-color: var(--elements-color);
}
.country-card:hover{
transform: scale(1.02);
box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.2);
}
.card-text {
  padding-inline: 16px;
}
.card-text p{
    margin-block: 8px;
}
.country-card img {
  border: 1px solid #ddd;
  width: 100%;
}

.card-title{
    font-size: 24px;
    margin-block:16px ;
}
.search-filter-container{
  max-width: 1200px;
  margin-inline:auto ;
  margin-top: 16px;
  margin-bottom:48px ;
  display: flex;
 justify-content: space-between;
 gap:24px;
 
color: var(--text-color);
}
.search-container{
  max-width: 350px;
  border-radius: 4px;
  padding-left: 24px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--elements-color);
color: inherit;
}
.search-container input{
border: none;
outline: none;
padding-block: 16px ;
border: none;
outline: none;
width: 90%;
border-radius: 4px;
background-color: inherit;
color: inherit;
}

.search-container input::placeholder{
  color:#999;
}
.filter-by-region{
  width:250px;
  padding:16px;
  border:none;
  outline: none;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius:4px ;
  background-color: var(--elements-color);
  color: var(--text-color);
}

.theme-changer {
  cursor: pointer;
}
@media(max-width: 768px){
  .contries-container {
    justify-content: center;
  }
  .search-filter-container{
    flex-direction: column;

  }
}
